* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.card {
  text-align: center;
  padding: 37px 47px;
  max-width: 390px;
  margin: 0 auto;
}

.icon {
  margin-bottom: 35px;
}

.title {
  text-transform: uppercase;
  font-weight: bold;
  color: #2D3033;
  margin-bottom: 25px;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  flex-wrap: wrap;
}

.content {
  font-size: 14px;
  color: #6C7279;
  line-height: 1.3em;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}